body {
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0;
    background: #eee;
    height: auto;
    text-align: center;
  }
  

  
  img {
    display: block;
    width: 100%;
  }
  
  main {
    max-width: 900px;
    margin: auto;
    box-shadow: 30px 0px 40px rgba(0, 0, 0, 0.1),
      -30px 0px 40px rgba(0, 0, 0, 0.1);
      padding-bottom: 20px;
  }
  
  #landing {
    background: #fff;
    display: flex;
    height: 800px;
  }
  
  #landing-text {
    display: flex;
    flex: 0 1 40vw;
    height: 800px;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-right: 1rem;
    padding-left: 1rem;
  }
h1{
font-weight: 400;
  }
  h2{
    font-weight: 400;
  }
  #landing-text h2 {
    font-weight: 400;
    color: #888;
  }

  
  #landing-image {
    background: url(https://source.unsplash.com/De8wMYoSSBc);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 800px;
    flex: 0 1 60vw;
    margin: 0;
  }
  
  .btn {
    padding: 0.5rem 2rem;
    border: 1px #ccc solid;
    display: inline-block;
    margin: 2rem 0 0;
    border-radius: 50px;
    text-decoration: none;
    color: #333;
    transition: background 500ms ease;
  }
  
  .btn:hover {
    background: #f4f4f4;
  }
  #main_heading{
    padding: 1rem;
    text-align: center;
    background: #333;
    color: #fff;
  }

  
  #main_heading h2{
    border-left: dotted 1px #fff;
    border-right: dotted 1px #fff;
    display: inline-block;
    padding-right: 1rem;
    padding-left: 1rem;
  }
  .photo_details{
font-weight: 500;
  font-size: 1rem;
  }
  .photo_details h2{
font-weight:bold
  }
  footer{
    padding: 1rem;

  }
  footer h1{
    font-weight: 550;
    font-size:xxx-large;
    color:#323332;
  }
#btns{
    display: flex;
    justify-content: center;

}
#btns button{
margin: 8px;
margin-top: -10px;
padding: 10px;
border: 0px;
font-weight: bold;
color:#e42420;
background-color: #bfbfbf;
border-radius: 25%;
cursor: pointer;
}


#btns button:hover {
  background-color: bisque;
  
}
img{
  cursor:pointer;
  -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
 
}
img:hover{
  -webkit-transform: scale(1.1);
	transform: scale(1.1);
}
